<h1 class="sukima">ようこそ <strong>Bookers</strong>  へ！</h1>


<p class="sukima2"><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p>
<p class="sukima2">印象を共有し交換することができます</p>
<p class="sukima2"><%= link_to "start", books_path %>
  </body>
</html>